---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout pageTitle="About">
    <div class="min-h-screen bg-slate-100 py-10">
        <div class="w-full max-w-7xl mx-auto">
            <p class="text-justify mx-auto my-10 text-lg">
                My name is Cobus. I am the owner and lead developer at Uys
                Design. I have loved computers and the internet for as long as I
                can remember and I taught myself how to code in the early days
                of my high-school career. Later I got into web development and I
                realised that there were very few options for business owners
                when it came to high-quality websites for their business. I
                decided that I would just have to do it myself. So, here we are.
            </p>
            <h2 class="text-center font-light text-4xl mt-20">Our Process</h2>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 p-10">
                <div class="card bg-white w-full shadow-xl">
                    <div class="card-body">
                        <h2 class="card-title font-bold text-3xl">
                            1. Questionnaire
                        </h2>
                        <p class="text-lg">
                            After you have signed a contract with us, we send
                            you a small questionnaire so that we can find out
                            more about your business and what you offer.
                        </p>
                    </div>
                </div>
                <div class="card bg-white w-full shadow-xl">
                    <div class="card-body">
                        <h2 class="card-title font-bold text-3xl">
                            2. Content & Design
                        </h2>
                        <p class="text-lg">
                            We then start expanding on this and writing the
                            content for your website, we create the design, make
                            sure you love it.
                        </p>
                    </div>
                </div>
                <div class="card bg-white w-full shadow-xl">
                    <div class="card-body">
                        <h2 class="card-title font-bold text-3xl">
                            3. Development
                        </h2>
                        <p class="text-lg">
                            Then we build out your site. From start to finish,
                            it usually takes about 2-3 weeks.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</DefaultLayout>
