---
import {links} from "../variables/config.js";
import logoLight from "../images/UysDesignLogoLight.png"
import { Image } from 'astro:assets';
---

<footer class="footer footer-center bg-slate-700 text-primary-content p-10">
  <nav class="grid grid-flow-col gap-4">
    {
      links.map((link) => (
          <a href={link.href}>{link.text}</a>
      ))
    }
  </nav>
  <aside>
    <Image/ src={logoLight} alt="Logo" class="h-12 w-12" />
    <p class="font-bold">
      We build business websites.
      <br />
      Good looking, lightning fast and SEO friendly.
    </p>
    <p>Copyright © {new Date().getFullYear()} - All right reserved</p>
  </aside>
</footer>