---

---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a>About</a></li>
        <li>
          <a>Services</a>
          <ul class="p-2">
            <li><a>Web Design</a></li>
            <li><a>Online Advertising</a></li>
          </ul>
        </li>
        <li><a>FAQ</a></li>
      </ul>
    </div>
    <img src="/3.png" alt="Logo" width="80"/>
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a>About</a></li>
        <li>
          <details>
            <summary>Services</summary>
            <ul class="p-2">
              <li><a>Web Design</a></li>
              <li><a>Online Advertising</a></li>
            </ul>
          </details>
        </li>
        <li><a>FAQ</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-end">
    <a class="btn btn-accent">Contact Me</a>
  </div>
</div>
